.page {
  padding-block: 48px 80px;
  color: var(--form-text-color);
  margin: 0 auto 0;

}



@media (min-width: 375px) {
  .page {
    padding-block: 32px 100px;
    width: 343px;
    max-width: calc(100% - 32px);
  }

  .inner {
    width: 343px;
  }

  .container {
    padding-inline: 0;
  }
}

@media (min-width: 768px) {
  .page {

    padding-block: 64px 100px;
    width: calc(100% - 64px);
    max-width: 704px;

  }

  .container {
    padding-inline: 0;
  }
}

@media (min-width: 1440px) {
  .page {

    padding-block: 80px 110px;
    width: calc(100% - 160px);
    max-width: 1280px;

  }

  .container {
    padding-inline: 0;
  }
}