.page {
  padding-block: 48px 80px;
  color: var(--form-text-color);
}

@media (min-width: 768px) {
  .page {
    padding-block: 64px 100px;
  }
}

@media (min-width: 1440px) {
  .page {
    padding-block: 74px 110px;
  }
}
