.list {
  display: flex;
  flex-direction: column;
}

.list li:last-child > * {
  border-bottom: none;
}

.message {
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-grey);
}
