.title {
  color: var(--main-black);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .title {
    font-size: 20px;
    line-height: 1.2;
  }
}
