.title {
  margin: 32px 0 16px;
  margin-bottom: 16px;
  color: var(--main-black);
  font-size: 28px;
  font-weight: 800;
  line-height: 1.14;
  letter-spacing: -0.035em;
  text-transform: uppercase;
}

/* .title.large {
  margin: 32px 0 16px;
  color: inherit;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1.5px;
  text-transform: none;
} */

@media (min-width: 768px) {
  .title {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.05em;
  }

  /* .title.large {
    margin-top: 48px;
    font-size: 52px;
  } */
}