.wrap {
  position: relative;
}

.wrap input {
  padding-right: 48px;
}

.toggle {
  position: absolute;
  top: 50%;
  right: 18px;
  display: flex;
  padding: 0;
  color: var(--main-black);
  background: transparent;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
  transition: color var(--transition);
}

.toggle:hover {
  color: var(--text-grey);
}
