.section {
  padding-block: 40px 64px;
}

.title {
  width: 180px;
  height: 28px;
  margin-bottom: 16px;
  border-radius: 8px;
  background: #eee;
}

.text {
  height: 40px;
  margin-bottom: 24px;
  border-radius: 8px;
  background: #eee;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.card {
  aspect-ratio: 1;
  border-radius: 20px;
  background: #eee;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
