@import './variables.css';
@import './reset.css';

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/mulish-v18-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/mulish-v18-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/mulish-v18-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/mulish-v18-latin-800.woff2') format('woff2');
}

/* ===== Base Styles ===== */
body {
  font-family: var(--font-main);
  color: var(--main-black);
  background-color: var(--white);
}

/* ===== Container (mobile-first) ===== */
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding-mobile);
}

/* tablet */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-inline: var(--container-padding-tablet);
  }
}

/* desktop */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-inline: var(--container-padding-desktop);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}