@import './variables.css';
@import './reset.css';

/* ===== Container (mobile-first) ===== */
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding-mobile);
}

/* tablet */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-inline: var(--container-padding-tablet);
  }
}

/* desktop */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-inline: var(--container-padding-desktop);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
