.list {
  display: flex;
  gap: 16px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  border: 1px solid var(--light-grey);
  border-radius: 50%;

  color: var(--main-black);

  transition:
    background-color var(--transition),
    color var(--transition);
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.link:hover,
.link:focus-visible {
  outline: none;
  background-color: var(--main-black);
  color: var(--white);
}

@media (max-width: 767px) {
  .link {
    width: 36px;
    height: 36px;
    padding: 8px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .list {
    gap: 16px;
  }
}
