.list {
  display: flex;
  gap: 16px;
}

.link {
  width: 40px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #e8e8e8;
  border-radius: 100px;

  color: var(--main-black);

  transition:
    background-color var(--transition),
    color var(--transition);
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.link:hover {
  background-color: var(--main-black);
  color: var(--white);
}

@media (max-width: 767px) {
  .link {
    width: 36px;
    height: 36px;
    padding: 8px;
  }

  .icon {
    width: 18px;
    height: 18px;
  }

  .list {
    gap: 16px;
  }
}
