.ingredientItem {
  position: relative;
  display: grid;
  grid-template-columns: 90px 1fr auto 0px;
  align-items: center;
  gap: 10px;

}

.name {
  color: #050505;
}

.qwt {
  color: #BFBEBE;
}

.wrapIMG {
  display: flex;
  width: 90px;
  height: 90px;
  border: 1px solid #BFBEBE;
  border-radius: 10px;
  align-items: center;
  justify-content: center;

}

.ingredientItem img,
.imagePlaceholder {

  border-radius: 15px;
  object-fit: cover;
}

.ingredientItem img {

  width: 60px;
  height: 60px;
}


.imagePlaceholder {
  display: grid;
  place-items: center;
  background: #ddd;
  color: #888;
}

.wrapIngregient {
  display: flex;
  flex-direction: column;


}



.ingredientItem>span:not(.imagePlaceholder) {
  color: #666;
}

.ingredientItem button {
  border: 0;
  background: transparent;
  color: var(--form-text-color);
  position: absolute;
  top: 0;
  right: 0;

}