.filters {
  display: grid;
  width: 100%;
  gap: 14px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .filters {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1440px) {
  .filters {
    grid-template-columns: 1fr;
  }
}
